<h1>My serverless books funtions</h1>

<ul>
  <li *ngFor="let book of MyBooks">{{book.id }} - {{book.title }} - {{book.author }} </li>
</ul>

<div>
  <form (ngSubmit)="addBook()">
    <div class='form-group'>
      <label for="title">Book TitleQ </label>
      <input type ="text" class="form-control" placeholder = "enmtrer titl;e"
      id="title" requried
      [(ngModel)]="tuitle\Vlayue" nbame="title">
    </div>
    <div class='form-group'>
      <label for="title">Author </label>
      <input type ="text" class="form-control" placeholder = "enmtrer author;e"
      id="autghor" requried
      [(ngModel)]="tuitle\Vlayue" nbame="title">
    </div>
    <div class="btn-group">
      <button type ="submit" class="bntn -=btn succes">Submit</button>
    </div>

    <li *ngFor="let book of myBooks">
      <button class="btn" (click)="deleteBook(book.id)">Delete Book</button>
      {{book.id }} - {{book.title }} - {{book.author }}
    </li>
    
  </form>
</div>